doctype 5
html(lang="en")
  head
    meta(charset='utf-8')
    title Reliable Socket Demo 
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/reset.css')
    block styles

  body
    h1.title RELIABLE SOCKET DEMO
    #bodyContainer
        #descriptionArea
            #buttonArea
                button#disconnectButton DISCONNECT SOCKET
            #textArea
                p
                    span.bold Click the button 
                    | on the left to simulate a socket closing.
                    | You are given a random name and are connected to a socket that 
                    | sends data to the server once every 
                    span.bold 200 milliseconds. 
                    | After
                    | pressing the button, the socket will disconnect and try to 
                    | reconnect within 
                    span.bold 5 seconds. 
                    | If it does reconnect not at the end of 5
                    | seconds, then the socket will close for good. If, during that
                    | time, the socket reconnects, it will poll for missed packets.
                    | Your missed packets will be shown in inverted colors below.
                p
                    | Also, try opening a 
                    span.bold different browser 
                    | to get the full chat 
                    | room experience (other users packets will not be highlighted).
                
        block body

    script(src='/js/jquery-1.10.1.js')
    script(src='/reliable-socket.js')
    script(src='/engine.io-client/engine.io.js')
    script(src='/js/minFaker.js')
    script(src='/js/global.js')
    block scripts