@import _fonts

html
body
  background-color rgb(250,250,250)
  color #333

#bodyContainer
  padding 15px
  width 800px
  margin 0 auto
  background-color #eee

#decriptionArea
  width 100%

#buttonArea
  width 250px
  float left

#disconnectButton
  width 200px
  margin 0 auto
  height 45px
  margin-top 115px
  margin-left 75px
  border-radius 5px
  border none
  background-color steelBlue
  color white
  cursor pointer
  font-family 'Raleway Bold'
  font-size 16px

#disconnectButton:hover
  background-color #315B7E

#textArea
  padding 25px 25px 25px 280px
  width 450px
  box-sizing()
  background-color #ccc
  margin 15px auto 25px
  font-family 'Raleway'
  line-height 1.4em
  letter-spacing 1px

h1.title
  padding 20px
  font-size 50px
  font-family 'Raleway Bold'
  color #33333
  margin 0 auto
  text-align center
  background-color #aaa

li.message
  padding 7.5px 15px
  font-family 'Raleway'
  text-align center

span.bold
  font-family 'Raleway Bold'

.missed
  color white
  background-color #333