@font-face {
  font-family: 'Raleway Medium';
  src: url("/fonts/raleway/raleway-medium-webfont.eot");
  src: url("/fonts/raleway/raleway-medium-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-medium-webfont.woff") format('woff'), url("/fonts/raleway/raleway-medium-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-medium-webfont.svg#ralewaymedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url("/fonts/raleway/raleway-regular-webfont.eot");
  src: url("/fonts/raleway/raleway-regular-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-regular-webfont.woff") format('woff'), url("/fonts/raleway/raleway-regular-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-regular-webfont.svg#ralewayregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Semi-Bold';
  src: url("/fonts/raleway/raleway-semibold-webfont.eot");
  src: url("/fonts/raleway/raleway-semibold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-semibold-webfont.woff") format('woff'), url("/fonts/raleway/raleway-semibold-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-semibold-webfont.svg#ralewaysemibold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Thin';
  src: url("/fonts/raleway/raleway_thin-webfont.eot");
  src: url("/fonts/raleway/raleway_thin-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway_thin-webfont.woff") format('woff'), url("/fonts/raleway/raleway_thin-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway_thin-webfont.svg#ralewaythin") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Bold';
  src: url("/fonts/raleway/raleway-bold-webfont.eot");
  src: url("/fonts/raleway/raleway-bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-bold-webfont.woff") format('woff'), url("/fonts/raleway/raleway-bold-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-bold-webfont.svg#ralewaybold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Extra-Bold';
  src: url("/fonts/raleway/raleway-extrabold-webfont.eot");
  src: url("/fonts/raleway/raleway-extrabold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-extrabold-webfont.woff") format('woff'), url("/fonts/raleway/raleway-extrabold-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-extrabold-webfont.svg#ralewayextrabold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Extra-Light';
  src: url("/fonts/raleway/raleway-extralight-webfont.eot");
  src: url("/fonts/raleway/raleway-extralight-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-extralight-webfont.woff") format('woff'), url("/fonts/raleway/raleway-extralight-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-extralight-webfont.svg#ralewayextralight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Heavy';
  src: url("/fonts/raleway/raleway-heavy-webfont.eot");
  src: url("/fonts/raleway/raleway-heavy-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-heavy-webfont.woff") format('woff'), url("/fonts/raleway/raleway-heavy-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-heavy-webfont.svg#ralewayheavy") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway Light';
  src: url("/fonts/raleway/raleway-light-webfont.eot");
  src: url("/fonts/raleway/raleway-light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/raleway/raleway-light-webfont.woff") format('woff'), url("/fonts/raleway/raleway-light-webfont.ttf") format('truetype'), url("/fonts/raleway/raleway-light-webfont.svg#ralewaylight") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background-color: #fafafa;
  color: #333;
}
#bodyContainer {
  padding: 15px;
  width: 800px;
  margin: 0 auto;
  background-color: #eee;
}
#decriptionArea {
  width: 100%;
}
#buttonArea {
  width: 250px;
  float: left;
}
#disconnectButton {
  width: 200px;
  margin: 0 auto;
  height: 45px;
  margin-top: 115px;
  margin-left: 75px;
  border-radius: 5px;
  border: none;
  background-color: steelBlue;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway Bold';
  font-size: 16px;
}
#disconnectButton:hover {
  background-color: #315b7e;
}
#textArea {
  padding: 25px 25px 25px 280px;
  width: 450px;
  background-color: #ccc;
  margin: 15px auto 25px;
  font-family: 'Raleway';
  line-height: 1.4em;
  letter-spacing: 1px;
}
h1.title {
  padding: 20px;
  font-size: 50px;
  font-family: 'Raleway Bold';
  color: rgba(51,51,51,0.2) 3;
  margin: 0 auto;
  text-align: center;
  background-color: #aaa;
}
li.message {
  padding: 7.5px 15px;
  font-family: 'Raleway';
  text-align: center;
}
span.bold {
  font-family: 'Raleway Bold';
}
.missed {
  color: #fff;
  background-color: #333;
}
