@import _fonts

body
  background-color rgb(250,250,250)

#bodyContainer
  padding 15px
  width 800px
  margin 0 auto

h1.title
  padding 20px
  font-size 50px
  font-family 'Raleway Bold'
  color #33333
  margin 0 auto
  text-align center
  background-color #aaa

ul
  background-color #eee

li.message
  padding 15px
  padding-bottom 0
  font-family 'Raleway'
  text-align center

span.bold
  font-family 'Raleway Bold'

.error
  color red