@import _fonts
@import _colors
@import _mixins
@import grid

// grid
columns = 16
gutter-width = 0px
total-width = 100%

layoutWidth = 1024px
mainFonts = 'Raleway',Tahoma,Geneva,Verdana,sans-serif
sidebarWidth = 25%
headerHeight = 15%
bottomHeight = 150px
middlePadding = 15px
indicatorPadding = 5px

//////////////////////////////// 
//////// Body Styles ///////////
////////////////////////////////

html
body 
  width 100%
  max-width 100%
  min-height 300px
  min-width 300px
  background-color darkBlue
  font-family mainFonts
  color darkGrey
  margin 0
  padding 0
  height 100%

h1#header
  column 16
  height headerHeight
  text-transform uppercase
  padding middlePadding
  font-family 'Raleway Bold'
  text-align center

#sidepane
  width sidebarWidth

#middleArea
  position absolute
  font-family mainFonts
  top headerHeight
  bottom bottomHeight
  left sidebarWidth
  right 0
  background-color red
  padding middlePadding
  box-sizing()

#inputSection
  position absolute
  bottom 0
  left sidebarWidth
  right 0
  height bottomHeight
  background-color green

.indicator
  height 15%
  width 25%
  float left
  background-color lightGrey
  margin-right middlePadding
  padding indicatorPadding
  text-align center

.indicatorTitle
  text-transform uppercase

.indicatorContent
  margin-top indicatorPadding

.indicatorNumber
.indicatorLabel
  display inline-block()